@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
    transition: .3s ease;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #07148d;
    --secondary: #1054ac;
    --text: #333;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--secondary);
    border-radius: .5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--text);
}

.header .logo i {
    color: var(--primary);
    padding-right: .5rem;
}

.header .navbar a {
    font-size: 1.7rem;
    color: var(--text);
    margin: 1rem 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header .navbar a:hover {
    color: var(--primary);
    cursor: pointer;
}

.header .navbar.active{
    display: block;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--primary);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    font-size: 1.6rem;
    color: var(--white);
    letter-spacing: .1rem;
    font-weight: bold;
    transition: .5s ease;
    cursor: pointer;
}

.header .navbar .btn {
    margin-top: 0;
    color: var(--white);
}

.btn:hover {
    background: var(--secondary)
}

.header .navbar .btn:hover {
    color: var(--white);
}

#menu-btn {
     display: none; 
    color: black;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;

}

#menu-btn:hover{
    color: var(--primary);
}

.btns{
    display: inline-block;
    margin-top: 0rem;
    margin-bottom: 1rem;
    background: var(--primary);
    color: var(--white);
    padding: .8rem 3rem;
    border: .2rem solid var(--text);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 4rem;

}

.btns:hover{
    background: var(--secondary);
    color: var(--white);
}

.icons i{
    font-size: 2.5rem;
    color: var(--text);
    cursor: pointer;
    margin-right: 2rem;
    margin-top: 1rem;
}

.icons i:hover {
    color: var(--primary);
}

.search-bar-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: var(--primary);
    border-top: .1rem solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.search-bar-container.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.search-bar-container #search-bar {
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: 2rem;
}

.search-bar-container label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

.search-bar-container label:hover {
    color: yellow;
}

.login-form-container {
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top: 0;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0, 0, 0, .3);
    text-transform: none;
}

.login-form-container form .box:focus{
    border-color: var(--secondary);
}

.login-form-container form #remember{
    margin: 2rem 0;
}

.login-form-container form label{
    font-size: 1.5rem;
}

.login-form-container form .btns{
    display: block;
    width: 100%;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #333;
}

.login-form-container form p a{
    color: var(--primary);
}

.login-form-container form p a:hover{
    color: var(--text);
    text-decoration: underline;
}

.login-form-container #form-close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: initial;
    position: relative;
    z-index: 0;
}

section{
    padding: 5rem 7%;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 8rem;
    color: var(--white);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 5);
    margin-top: 10rem;
    margin-left: 1.5rem;
}

.home .content h1{
    font-size: 4rem;
    color: var(--white);
    padding: 1.5rem 0;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 5);
    margin-top: -40px;
}

.home{
    padding: 0;
}

.home .bg{
    background:url(Images/hotel.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.availability form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
    padding: 2rem;
    border-radius: .5rem;
}

.availability form .box{
    flex: 1 1 20rem;

}

.availability form .box p{
    font-size: 2rem;
    color: var(--primary);

}

.availability form .box .input{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--text);
    margin: 1rem 0;
    border-radius: .5rem;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgb(179, 213, 224, .5);
    color: var(--primary);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading span.space{
    background: none;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image{
    flex: 1 1 30rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 51rem;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #333;
    padding: 1rem 0;
    line-height: 1.8;
    text-align: justify;
}

.room .slide{
    background: var(--white);
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 4rem;
}

.room .slide .img{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.room .slide .img img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.room .slide .img .price{
    position: absolute;
    top: 2.5rem; left: 2.5rem;
    background: var(--primary);
    color: var(--white);
    font-size: 1.7rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-transform: lowercase;
}

.room .slide .img .bx{
    position: absolute;
    top: 2.5rem; right: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 2rem;
    background: var(--white);
    color: var(--text);
    border-radius: 50%;
}

.room .slide .img .bx:hover{
    background: var(--secondary);
    color: var(--white);
}

.room .slide .content{
    padding: 2rem;
    padding-top: 0;
}

.room .slide .content h3{
    font-size: 2.5rem;
    color: var(--text);
}

.room .slide .content p{
    font-size: 1.6rem;
    color: var(--text);
    padding: .5rem 0;
    line-height: 1.5;
}

.room .slide .content .stars{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--primary);
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    gap: 2rem;
    margin-top: 4rem;
}

.services .box-container .box{
    text-align: center;
}

.services .box-container .box i{
    height: 5rem;
    margin-bottom: .5rem;
    font-size: 8rem;
    color: var(--primary);
}

.services .box-container .box h3{
    font-size: 2.5rem;
    padding: .5rem 0;
}


.reviews{
    margin-top: 40px;
    padding: 40px 0;
}

.customer-container{
    background-image: url(Images/gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.customer{
    padding: 20px;
    text-align: center;
    margin: 24px 24px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: .5s ease;
    background-color: var(--white);
}

.rating{
    margin: 10px 0;
    color: var(--primary);
    font-size: 2rem;
}

.customer h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.customer p{
    line-height: 1.8;
    width: 60%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: justify;
}

.customer img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 25px auto;
}

.customer:hover{
    transform: translateY(-18px);
}

.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box{
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border: 1rem solid var(--white);
    border-radius: .5rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 2rem;
    padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
    top: 0;
}

.gallery .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--white);
}

.gallery .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem 0;
}

.faq .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.faq .row .image{
    flex: 1 1 40rem;
}


.faq .row .content{
    flex: 1 1 40rem;
}

.faq .row .content .box{
    margin-top: 2rem;
}

.faq .row .content .box h3{
    font-size: 2rem;
    color: var(--primary);
    padding: 1.5rem;
}

.faq .row .content .box p{
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    line-height: 2;
    color: var(--text);
    box-shadow: var(--box-shadow);
    text-align: justify;
}



@media (max-width: 1200px){
    html{
        font-size: 55%;
    }

}


@media (max-width: 991px){

    header{
        padding: 2rem 3rem;
    }

}

@media (max-width: 968px){
    #menu-btn{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 110%;
        width: 30rem;
        padding: 1rem 3%;
        background: var(--white);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
        align-items: center;
        justify-content: center;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 2rem 2.5rem;
    }

    .navbar .btn{
        text-align: center;
        margin-top: 2rem;
    }

    .navbar.active{
        transition: .4s linear;
    }

    .home .content h3{
        font-size: 5rem;
        line-height: 1.3;
        padding-bottom: 4rem;
    }

   .home .content h1{
    font-size: 4rem;
    
   }
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem ;
    align-items: center;
}

.contact .row .image{
    flex: 1 1 35rem;
}

.contact .row .image img{
    width: 50%;
    height: 50%;
    margin-top: 2rem;
    margin-left: 10rem;
}

.contact .row form{
    flex: 1 1 35rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.contact .row form .inputbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .inputbox input,
.contact .row form textarea{
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--text);
    background: var(--white);
    text-transform: none;
    border: .2rem solid var(--primary);
}

.contact .row form textarea{
    height: 30rem;
    resize: none;
    width: 100%;
}

@media(min-width: 992px){
    .customer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media(min-width: 1200px){
    .customer-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width: 968px){
    .customer p{
        width: 100%;
        height: 100%;
    }

    .contact .row form .inputbox input{
        width: 100%;
    }
}

.footer{
    background: var(--primary);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box a{
    font-size: 1.6rem;
    display: block;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: red;
}

.footer .social{
    padding-top: 2rem;
    text-align: center;
}

.footer .social a{
    color: var(--white);
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    margin: 1rem;
}

.footer .social a:hover{
    color: red;
}

.footer .credits{
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    margin-top: 2.5rem;
    padding-top: 2rem;
}